* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto; 
    position: relative;
    top: 6.25rem;
}


.input-wrap { 
    width: 100%; 
    max-width: 400px;
    height: 60px; 
    margin: 12px 0;
    display: flex; 
    padding: 10px;  
    background-color: #F3F3F3;
    border-radius: .25rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
} 

.input-wrap i {
    width: 10%; 
    font-size: 1.5625rem;
}

.input-wrap i::before {
    position: relative;
    top: 6px;
    left: 5px;
}

.input-wrap input {
    width: 90%;  
    height: 40px;
    font-size: 1.1875rem;
    background-color: #F3F3F3;
    outline: none;
}


.submit {
    background-color: #F8D9D9; 
}
.submit input {
    width: 100%;
    background-color: #F8D9D9;
    text-align: center;
    cursor: pointer;
}

.line {
    width: 400px;
    margin: 50px 0;
    border: 0.5px solid black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.sign-move { 
    width: 100%; 
    max-width: 400px;
    height: 70px; 
    margin: 12px 0; 
    padding: 10px;  
    background-color: #FFF0F0;
    border-radius: .25rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    line-height: 55px;
} 

.sign-move a {
    color: #772929;
    font-weight: 600;
}

